.body {
    font-family: Arial, sans-serif;
    background: linear-gradient(rgb(19, 30, 92), rgb(82, 10, 60));
}

.container {
    padding: 50px;
    background: linear-gradient(rgb(219, 221, 104), rgb(230, 94, 94));
}

.btn-primary {
    width: 150px;
    background-color: #2314a3;
    border-color: #007bff;
    background: linear-gradient(rgb(3, 32, 20), rgb(22, 65, 182));
}

.btn-secondary {
    width: 150px;
    background-color: #6c757d;
    border-color: #6c757d;
    background: linear-gradient(rgb(3, 32, 20), rgb(22, 65, 182));
}

